<main id="index-main">
    <img src="https://i.pinimg.com/originals/de/e8/5f/dee85f6aee16a331bac767bed8bfd557.jpg" />
    <section>
        <h1>Welcome to Resume Builder</h1>
        <p>Create your professional resume in minutes.</p>
        <a href="/auth/register" class="button">Get Started</a>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </section>
</main>
