<footer>
    <section>
        <p>© Example LLC</p>
        <nav>
            <a href="###">About</a>
            <a href="###">Privacy Policy</a>
            <a href="###">Terms of Service</a>
            <a href="###"><i class="fa-brands fa-facebook"></i></a>
            <a href="###"><i class="fa-brands fa-twitter"></i></a>
            <a href="###"><i class="fa-brands fa-linkedin"></i></a>
            <a href="###"><i class="fa-brands fa-github"></i></a>
        </nav>
        <p>Uzbekistan, <span id="current-year"></span></p>
    </section>
    <p>This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service</p>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentYear = new Date().getFullYear();
        document.getElementById("current-year").textContent = currentYear;
    });
</script>