<header>
    <!-- <section> -->
        <img src="/images/logo.png" alt="Logo" id="logo" />

        <% if (user) { %>
        <nav>
            <a href="/create-resume">Create Resume</a>
            <a href="/settings">Settings</a>
            <a href="/help">Help</a>
            <a href="/logout">Log Out</a>
        </nav>
        <% } else { %>
        <nav>
            <a href="/user/register">Register</a>
            <a href="/user/login">Log in</a>
        </nav>
        <% } %>
    <!-- </section> -->
</header>
