<header>
    <!-- <section> -->
        <img src="/images/logo1.png" alt="Logo" id="logo" />

        <% if (user) { %>
        <nav>
            <a href="/create-resume">Create Resume</a>
            <% if(settings){ %>
                <a href="/user/">Dashboard</a>
            <%}else{ %>
                <a href="/user/settings">Settings</a>
            <% } %>
            <a href="/auth/logout">Log Out</a>
        </nav>
        <% } else { %>
        <nav>
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Log in</a>
        </nav>
        <% } %>
    <!-- </section> -->
</header>
