<main id="index-main">
    <img src="https://www.ypo.org/wp-content/uploads/2020/09/shutterstock_1048652996-scaled.jpg" />
    <section>
        <h1>Welcome to Resume Builder</h1>
        <p>Create your professional resume in minutes.</p>
        <a href="/user/register" class="button">Get Started</a>
    </section>
</main>
