header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    width:100%;
    min-height: 60px;
    max-height:100px;
    background-color: #ec82b0;
    text-align: center;
    font-size:12px;
}
#logo{
    height:70px;
}
header nav{
    display: flex;
    justify-content:space-between;
    gap:5px;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: #fbfbfc;
    font-size: 15px;
    margin:0 3px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;

}
header nav a:first-child{
    background-color: #6acdfb;
    color: #fefeff;
    font-weight: bold;
}
header nav a:first-child:hover{
    background-color: #53b7e6;
    color: #ffffff;
    border: solid 1px #8d8d8c;
}
header nav a:last-child{
    font-weight: bold;
}
header nav a:last-child:hover{
    text-decoration: underline;
}