* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
#index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100vw;
}
#index-main img:first-child {
    object-fit: cover;
    object-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    top: 70px;
    width: 100%;
    height: 85vh;
    filter:saturate(0.1);
}
#index-main section {
    width: 50%;
    height: 85vh;
    border:solid 1px transparent;
    border-radius:0 999px 999px 0;
    position: relative;
    background-color: #ffdc00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}
#index-main section h1 {
    font-size: 2.5rem;
    color: #0074d9;
    font-weight: bold;
}
#index-main section p {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 25px;
}
#index-main section a {
    text-decoration: none;
    font-weight: bold;
    color: #ffdc00;
    font-size: 1rem;
    margin: 0 3px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #0074d9;
    transition: all 0.3s ease;
}
#index-main section a:hover {
    font-weight: bold;
    color: #0074d9;
    background-color: #ffdc00;
    border:solid 1px #0074d9;
}
#registerFormImage{
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 70px;
    left:50vw;
    width:50vw;
    height: 85vh;
    filter:saturate(0.6);
    z-index: 2;
}
#loginFormImage{
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 70px;
    left:0;
    width:50vw;
    height: 85vh;
    z-index: 2;
    filter:saturate(0.8);
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
form section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    width: 50vw;
}
form section h1 {
    font-size: 2rem;
    color: #0074d9;
    font-weight: bold;
    margin-bottom: 20px;
}
form section input{
    width: 80%;
    padding:10px 20px;
    border-radius: 10px;
    border: solid 1px #0074d9;
    margin-bottom: 20px;
}
form section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
form section div a, form section div button{
    text-decoration: none;
    color: #0074d9;
    font-size: 0.9rem;
    margin: 0 3px;
    padding: 5px 10px;
    border:solid 1px #0074d9;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}
form section div a:hover, form section div button:hover{
    font-weight: bold;
    color: #fff;
    background-color: #0074d9;
}
form section div button{
    padding:5px 15px
}
#error, #error1 {
    color: red;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.animate-scroll{
    animation: scrool .6s forwards;
  }
  @keyframes scrool{
    0%{
      transform: translateX(0vw);
  
    }
    100%{
      transform: translateX(-47vw);
    }
  }
  
  .animate-backscroll{
    animation: backscroll .6s forwards;
  }
  @keyframes backscroll{
    0%{
      transform: translateX(-47vw);
    }
    100%{
      transform: translateX(0vw);
    }
  }

  #userPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
  }