<main id="templateIndex">
    <h1>Templates</h1>
    <div>
        <a href="/templates/modernFlow">
            <p>Modern Flow</p>
            <img src="/images/modernFlow.jpeg" alt="template" />
        </a>
        <a href="/templates/crimsonRed">
            <p>Crimson Red</p>
            <img src="/images/crimsonRed.jpeg" alt="template" />
        </a>
        <a href="/templates/blueDragon">
            <p>Blue Dragon</p>
            <img src="/images/blueDragon.jpeg" alt="template" />
        </a>
    </div>
</main>
